@import "colors";
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body{

    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(7, max-content);
}
// Header
header{
    background: url('../img/ziomek.jpg') no-repeat center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    color: $white;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 6em;
}

header:before{
    content:'>';
    display: block;
    font-size: 90px;
    position: absolute;
    top: 500px;
    transform: rotate(90deg);
    opacity: 0.2;
    animation: arrow 4s infinite ease-in-out;
}
@keyframes arrow{
    0%{
        top:500px;
        opacity: 0.2;
    }
    50%{
        top:600px;
        opacity: 0.9;
    }
    100%{
        top:500px;
        opacity: 0.2;
    }
}

.header--container{
    background-color: rgba($black,0.3);
    padding: 20px;
}
.header--container h1{
    font-size: 5rem;
    text-align: center;
}
.header--container h2{
    font-size: 2.5rem;
    font-family: monospace;
    padding-left: 1em;
    text-align: center;
}
//buttons
.button{
    width: 100px;
    height: 50px;
    background: rgb(33, 122, 255);
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    color: white;
}
.button:hover{
    border-radius: 10%;
}
#buttonGT{
    width: 40px;
    height: 40px;
    transform: rotate(90deg);
    position: fixed;
    bottom: 50px;
    right: 30px;
    display: none;
    font-weight: 900;
    color: white;
    background-color: rgba($black,0.3);
    z-index: 9999;
}
#buttonGT:hover{
    background-color:rgb(33, 122, 255);
}
//section1
.firstParagraphs{
    height: 400px;
    display: grid;
    grid-template-areas:"par1 par2 par3";
    grid-gap: 100px;
    align-items: center;
    margin: 30px;
}
.pencil{
    margin-left: 30px;
}
.pencil,
.camera,
.bookmark{
    // width: 100vw;
    height: 300px;
    display: grid;
    grid-template-areas: 
    "icon"
    "text";
    align-items: center;
    justify-items: center;
    font-size: 18px;
    color: $gray;
}
.p--firstParagraph{
    padding-top: 50px;
    text-align: justify;
}
.p--firstParagraph:hover{
    color: $darkgrey;
}

//FOG section
.fogSection{
    width: 100vw;
    height: 650px;
    color: $white;
    background: url('../img/mgla.jpg') no-repeat center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-content: flex-end;
}
.visitedPlaces{
    margin-left: 300px;
    padding-top: 5rem;
    text-align: center;
    background-color: rgba($black,0.3);
    max-width: 400px;
    padding-top: 40px;

}
.container-borders{
    padding-top: 50px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}
.border1,
.border2{
    padding-top: 30px;
    font-size: 40px;
    margin: 20px;
    width: 40%;
    height: 200px;
    border: 2px solid white;
}
.number{
    font-size: 60px;
}
.visitedPlaces h1{
    font-size: 30px;
    padding-bottom: 30px;

}
//my camera section
.mycamera{
    margin: 30px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, calc(100%/2));
    grid-template-rows: repeat(3, auto);
    color: $darkgrey;
}
.cameraIMG{
    max-width: 600px;
    grid-column: 2;
    grid-row: 1/3;
}

.paragraph{
    grid-column: 1;
    grid-row: 1;
    padding-left: 50px;
}
.paragraph p{
    padding-top: 50px;
}

.button-takealook{
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
}
//my best place
.bestplace{
    background: url('../img/jezioro.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    display: flex;
}

.secondfullimgbg{
    padding-top: 50px;
    margin-left: 50px;
    max-width: 500px;
    height: 100vh;
    text-align: center;
    background-color: rgba($black,0.3);
    color: $white;
}

.secondfullimgbg p{
    padding-top: 30px;
}
//gallery - aside
aside{
    margin-top: 50px;
}
.gallery{
    padding:20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-auto-flow: dense;
}

.gallery img{
    width: 100%;
}
.gIMG:hover{
    filter: opacity(50%);
}
.gIMG:hover::after{
    position: fixed;
    content: 'hello';
    font-size: 50px;
    color: white;
}
//footer
.newsletter{
    background: url('../img/jeziorogory.jpg') no-repeat center center;
    background-size: cover;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "news social"
    "news";
    color: $white;
}
.container--newsleter{
    max-width: 400px;
    grid-column: 1;
    grid-row: 2/4;
    padding-left: 30px;
}

.container--newsleter p{
    font-size: 2rem;
    grid-column: 2;
    background-color: rgba($black,0.3);
    text-align: center;
}

.social-media{
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
}
a>img{
    opacity: 0.6;
}
a img:hover{
    opacity: 1;
}
.submit{
    border: 0;
    margin-left: 30px;
    cursor: pointer;
}
.emailInput{
    width: 100px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
}
/* Media Queries */

@media (max-width:900px){
    .firstParagraphs{
        grid-gap: 0;
        grid-template-areas: 
        "par1"
        "par2"
        "par3";
    }
    .mycamera{
        grid-template-areas: 
        "par1 par2"
        "par3";
    }
    .paragraph{
        grid-column: 2 span;
    }
    .cameraIMG{
        display: none;
    }
    .fogSection{
        margin-top: 500px;
    }
    .visitedPlaces{
        margin-left: 90px;
    }
    .p--firstParagraph{
        padding: 30px;
    }
    .secondfullimgbg{
        padding-top: 10px;
    }
}
@media (max-width:420px) {
    .fogSection{
        margin-top: 0;
    }
    .visitedPlaces{
        margin-left: 0;
    }
    .secondfullimgbg{
        margin-left: 0;
        padding:0 10px;
    }
    .gallery{
        padding: 0;
    }
    .newsletter{
        display: grid;
    }
    .container--newsleter{
        grid-column: 2 span;
        grid-row: 2 span;
    }
    .container--newsleter p{
        font-size: 15px;
        margin-top: 10px;
        padding: 20px;
    }
    .container--newsleter input,
    .container--newsleter button{
        margin-top: 30px;
    }
    .social-media{
        grid-column: 2 span;
        grid-row: 3;
    }

}

